<div class="col-sm-12">
	<form action="{{ route('donny5300.translations.languages.'~action, item.id) }}" method="post" class="form-horizontal">
		{{ csrf_field() }}
		<div class="form-group">
			<label for="" class="control-label col-sm-3">Title</label>
			<div class="col-sm-9">
				<input type="text" name="title" value="{{ old('title', item.title) }}" class="form-control">
			</div>
		</div>

		<div class="form-group">
			<label for="" class="control-label col-sm-3">Short two</label>
			<div class="col-sm-9">
				<input type="text" name="title_short_two" value="{{ old('title_short_two', item.title_short_two) }}" class="form-control">
			</div>
		</div>

		<div class="form-group">
			<label for="" class="control-label col-sm-3">Short three</label>
			<div class="col-sm-9">
				<input type="text" name="title_short_three" value="{{ old('title_short_three', item.title_short_three) }}" class="form-control">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<input type="submit" class="btn btn-success" value="Save">
			</div>
		</div>

	</form>
</div>