<table class="table table-responsive table-striped">
	<thead>
		<tr>
			<td># ID</td>
			<td>Title</td>
			<td>Short two</td>
			<td>Short three</td>
		</tr>
	</thead>

	<tbody>
		{% for item in languages %}
			<tr>
				<td>{{ item.id }}</td>
				<td>{{ item.title }}</td>
				<td>{{ item.short_two }}</td>
				<td>{{ item.short_three }}</td>
				<td>
					<form action="{{ route('translations.languages.destroy', item.id) }}" method="post" class="btn-group">
						<a href="/system/translations/languages/{{ item.id }}/edit" class="btn btn-info">Edit</a>
						{{ csrf_field() }}
						<input type="submit" value="Delete" class="btn btn-danger">
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>